[submodule "backend"]
	path = backend
	url = https://github.com/cyrex2002/Event-Ticket-System-v2.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/cyrex2002/Event-Ticket-Sytem-Front-End.git
